@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.hidden {
  overflow: hidden;
}

.breadcrumb {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 8px 12px;
  border-radius: 8px;
  background: #F5F5F5;
  margin-bottom: 60px;
}
.breadcrumb__link {
  color: #A3A9C2;
  font: 400 14px/normal "Inter", sans-serif;
  background: url("/images/link-arrow.svg") no-repeat 100%;
  padding: 0 24px 0 0;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.breadcrumb__link:hover {
  color: #232323;
  background: url("/images/link-arrow-active.svg") no-repeat 100%;
}
.breadcrumb__link.active {
  font-weight: 600;
  color: #DB2032;
  background: none;
  pointer-events: none;
}

.popular-menus {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
  /* модалка */
}
.popular-menus input::-webkit-outer-spin-button,
.popular-menus input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.popular-menus input[type=number] {
  -moz-appearance: textfield;
}
.popular-menus__container {
  width: 100%;
  max-width: 1506px;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.popular-menus__h1 {
  font: 700 40px/54.47px "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 45px;
  margin-top: 36px;
}
.popular-menus__button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #DB2032;
  color: #fff;
  font: 400 12px/normal "Open Sans", sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.popular-menus__button.edit-bold {
  font-weight: 700;
}
.popular-menus__button.order {
  width: 100%;
  max-width: 320px;
  font: 600 20px/normal "Inter", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.popular-menus__button.order i {
  display: block;
  width: 21px;
  height: 21px;
  background: url("/images/order.svg") no-repeat center/cover;
}
.popular-menus__button.order:hover i {
  background: url("/images/order-red.svg") no-repeat center/cover;
}
.popular-menus__button:hover {
  background: #fff;
  color: #DB2032;
  -webkit-box-shadow: 0 0 0 1px #DB2032;
          box-shadow: 0 0 0 1px #DB2032;
}
.popular-menus__switch {
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 11px 16px 11px 14px;
  border-radius: 20px;
  border: 1px solid transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#F5F5F5), to(#F5F5F5)), -webkit-gradient(linear, left bottom, left top, from(#F5F5F5), to(#F5F5F5)), #F5F5F5;
  background: linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), #F5F5F5;
  color: #000;
  font: 700 15px/normal "Open Sans", sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.popular-menus__switch:hover:not(.active) {
  border-color: #000;
}
.popular-menus__switch.active {
  border-color: #000;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFF), to(#FFF)), -webkit-gradient(linear, left bottom, left top, from(#F5F5F5), to(#F5F5F5)), #F5F5F5;
  background: linear-gradient(0deg, #FFF 0%, #FFF 100%), linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), #F5F5F5;
  cursor: default;
}
.popular-menus__switch-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 18px;
}
.popular-menus__clear-button {
  position: absolute;
  top: 16px;
  right: 14px;
  width: 24px;
  height: 24px;
  color: #232323;
  font: 400 24px/normal "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: none;
}
.popular-menus__clear-button.top-50 {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.popular-menus__clear-button.right {
  right: 6px;
}
.popular-menus__filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  margin-top: 27px;
  /* Современные браузеры
  ----------------------------  */
  /* WebKit, Edge
  ----------------------------  */
  /* Edge
  ----------------------------  */
  /* Firefox 4-18
  ----------------------------  */
  /* Firefox 19+
  ----------------------------  */
  /* IE 10-11
  ----------------------------  */
}
.popular-menus__filter-input {
  width: 100%;
  min-width: 300px;
  padding: 15px 40px 15px 15px;
  border-radius: 20px;
  border: 1px solid #DFDFDF;
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
.popular-menus__filter-input:focus-visible {
  border: 1px solid #000;
}
.popular-menus__filter-input:focus {
  border: 1px solid #000;
}
.popular-menus__filter-input-wrap {
  position: relative;
}
.popular-menus__filter input::-webkit-input-placeholder {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
}
.popular-menus__filter input::-moz-placeholder {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
}
.popular-menus__filter input:-ms-input-placeholder {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
}
.popular-menus__filter input::-ms-input-placeholder {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
}
.popular-menus__filter input::placeholder {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
}
.popular-menus__filter input::-webkit-input-placeholder {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
}
.popular-menus__filter input::-ms-input-placeholder {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
}
.popular-menus__filter input:-moz-placeholder {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
  opacity: 1;
}
.popular-menus__filter input::-moz-placeholder {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
  opacity: 1;
}
.popular-menus__filter input:-ms-input-placeholder {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
}
.popular-menus__filter-clear-all {
  border-radius: 20px;
  font: 700 18px/normal "Poppins", sans-serif;
  padding: 15.5px 26px;
  margin-top: 31px;
}
.popular-menus__select-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  position: relative;
}
.popular-menus__select-wrap .select2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 14px;
  border-radius: 20px;
  border: 1px solid #DFDFDF;
}
.popular-menus__select-wrap .select2.select2-container--open {
  border: 1px solid #000;
  border-radius: 20px 20px 0 0;
}
.popular-menus__select-wrap .select2 .select2-selection__placeholder {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
}
.popular-menus__select-wrap .select2 .select2-selection--single {
  width: 100%;
  height: auto;
}
.popular-menus__select-wrap .select2 {
  width: 300px;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.popular-menus__select-wrap .select2.select2-container--open {
  width: auto;
  /* автоматическая ширина при открытии */
}
.popular-menus__select-wrap .select2-selection .select2-search__field {
  outline: none;
}
.popular-menus__select-wrap .select2-selection .select2-search__field:focus-visible {
  border: none;
}
.popular-menus__select-wrap .select2-selection .select2-selection__rendered {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
  padding-left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.popular-menus__select-wrap .select2-selection .select2-selection__rendered li {
  margin: 0;
}
.popular-menus__select-wrap .select2-selection .select2-selection__rendered li input {
  margin: 0;
  padding: 0;
}
.popular-menus__select-wrap .select2-selection .select2-selection__rendered .select2-selection__clear {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-weight: 600;
}
.popular-menus__select-wrap .select2-container--custom-arrow .select2-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4px;
}
.popular-menus__select-wrap .select2-container--custom-arrow .select2-selection__arrow {
  width: 24px;
  height: 24px;
  background-image: url("/images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.popular-menus__select-wrap .select2-container--custom-arrow.select2-container--open .select2-selection__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.popular-menus__select-wrap .select2-selection__arrow,
.popular-menus__select-wrap .select2-selection--multiple {
  position: relative;
}
.popular-menus__select-wrap .select2-selection--multiple {
  min-height: auto;
  padding-right: 20px;
}
.popular-menus__select-wrap .select2-container .select2-search--inline .select2-search__field {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
  vertical-align: baseline;
}
.popular-menus__select-wrap .select2-container--custom {
  position: relative;
}
.popular-menus__select-wrap .select2-container--custom .select2-selection.select2-selection--multiple::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.popular-menus__select-wrap .select2-container--custom.select2-container--open .select2-selection.select2-selection--multiple::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.popular-menus__select-label {
  color: #000;
  font: 600 16px/normal "Poppins", sans-serif;
}
.popular-menus__sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
  color: #9F9090;
  font: 400 16px/normal "Poppins", sans-serif;
}
.popular-menus__sorting-text.bold {
  font-weight: 700;
}
.popular-menus__sorting-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.popular-menus__sorting-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  cursor: pointer;
}
.popular-menus__sorting-btn:not(.default)::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url("/images/link-arrow.svg") no-repeat center/cover;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.popular-menus__sorting-btn[data-max-sort=true]::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.popular-menus__sorting-btn.active {
  color: #000;
}
.popular-menus__sorting-btn.active::after {
  background: url("/images/link-arrow-active.svg") no-repeat center/cover;
}
.popular-menus__sorting-btn.active.default {
  pointer-events: none;
}
.popular-menus__cards {
  padding-top: 29px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
}
.popular-menus__card {
  display: grid;
  grid-template-rows: 236px 1fr;
  gap: 12px;
  width: 100%;
  max-width: 348px;
  min-width: 300px;
}
.popular-menus__card-picture {
  width: 100%;
  height: 100%;
  max-height: 236px;
  border-radius: 20px;
  overflow: hidden;
}
.popular-menus__card-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
.popular-menus__card-title {
  color: #000;
  font: 700 15px/normal "Open Sans", sans-serif;
  text-decoration: none;
}
.popular-menus__card-per-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  color: #000;
  font: 400 11px/normal "Open Sans", sans-serif;
}
.popular-menus__card-per-person-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}
.popular-menus__card-per-person-tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 12px 4px 14px;
  border-radius: 53px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F5F5F5), to(#F5F5F5)), -webkit-gradient(linear, left bottom, left top, from(#F5F5F5), to(#F5F5F5)), -webkit-gradient(linear, left bottom, left top, from(#F5F5F5), to(#F5F5F5)), -webkit-gradient(linear, left bottom, left top, from(#F5F5F5), to(#F5F5F5)), #F5F5F5;
  background: linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), #F5F5F5;
  overflow: hidden;
}
.popular-menus__card-description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #746D6D;
  font: 400 12px/normal "Open Sans", sans-serif;
}
.popular-menus__card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 6px;
}
.popular-menus__card-total-price {
  color: #000;
  font: 400 12px/normal "Open Sans", sans-serif;
  margin-right: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.popular-menus__card-total-price--bold {
  font-weight: 700;
  font-size: 20px;
}
.popular-menus__card-link {
  width: 38px;
  max-width: 38px;
  height: 38px;
  max-height: 38px;
  padding: 0;
  background-image: url("/images/download.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.popular-menus__card-link:hover {
  background-image: url("/images/download-red.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.popular-menus__card .popular-menus__button.edit {
  width: 38px;
  max-width: 38px;
  height: 38px;
  max-height: 38px;
  padding: 0;
  background-image: url("/images/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.popular-menus__card .popular-menus__button.edit:hover {
  background-image: url("/images/edit-red.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.popular-menus__info {
  color: #000;
  font: 400 20px/154.182% "Open Sans", sans-serif;
  padding: 76px 0;
}
.popular-menus__info-title {
  font-size: 24px;
}
.popular-menus__info-txt {
  margin-top: 12px;
}
.popular-menus__list {
  padding: 0 0 0 21px;
  margin: 12px 0 0 0;
}
.popular-menus__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
}
.popular-menus__modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(132, 108, 108, 0.33);
  overflow: hidden;
  overflow-y: scroll;
  /* Современные браузеры
  ----------------------------  */
  /* WebKit, Edge
  ----------------------------  */
  /* Edge
  ----------------------------  */
  /* Firefox 4-18
  ----------------------------  */
  /* Firefox 19+
  ----------------------------  */
  /* IE 10-11
  ----------------------------  */
}
.popular-menus__modal-inner {
  position: relative;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 90%;
  max-width: 594px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #fff;
  border-radius: 20px;
  padding: 16px 24px 24px;
  margin: 64px 0;
}
@media screen and (min-height: 720px) {
  .popular-menus__modal-inner {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0;
  }
}
.popular-menus__modal-head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  margin-bottom: 8px;
}
.popular-menus__modal-close {
  width: 24px;
  height: 24px;
  background: url("/images/close.svg") no-repeat center/cover;
  cursor: pointer;
  display: block;
}
.popular-menus__modal-body {
  width: 100%;
}
.popular-menus__modal-title {
  color: #101828;
  font: 600 18px/28px "Inter", sans-serif;
}
.popular-menus__modal-text {
  color: #475467;
  font: 400 14px/20px "Inter", sans-serif;
}
.popular-menus__modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-top: 8px;
}
.popular-menus__modal-form-submit-btn {
  width: 100%;
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid #EB5757;
  background: #EB5757;
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color: #fff;
  font: 600 16px/24px "Inter", sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.popular-menus__modal-form-submit-btn:hover {
  background: transparent;
  color: #EB5757;
}
.popular-menus__modal-label {
  color: #344054;
  font: 500 14px/20px "Inter", sans-serif;
}
.popular-menus__modal-input {
  width: 100%;
  min-width: 264px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color: #232323;
  font: 400 16px/24px "Inter", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
.popular-menus__modal-input:focus-visible {
  border: 1px solid #000;
}
.popular-menus__modal-input:focus {
  border: 1px solid #000;
}
.popular-menus__modal-input-wrap {
  position: relative;
}
.popular-menus__modal input::-webkit-input-placeholder {
  color: #667085;
  font: 400 16px/24px "Inter", sans-serif;
}
.popular-menus__modal input::-moz-placeholder {
  color: #667085;
  font: 400 16px/24px "Inter", sans-serif;
}
.popular-menus__modal input:-ms-input-placeholder {
  color: #667085;
  font: 400 16px/24px "Inter", sans-serif;
}
.popular-menus__modal input::-ms-input-placeholder {
  color: #667085;
  font: 400 16px/24px "Inter", sans-serif;
}
.popular-menus__modal input::placeholder {
  color: #667085;
  font: 400 16px/24px "Inter", sans-serif;
}
.popular-menus__modal input::-webkit-input-placeholder {
  color: #667085;
  font: 400 16px/24px "Inter", sans-serif;
}
.popular-menus__modal input::-ms-input-placeholder {
  color: #667085;
  font: 400 16px/24px "Inter", sans-serif;
}
.popular-menus__modal input:-moz-placeholder {
  color: #667085;
  font: 400 16px/24px "Inter", sans-serif;
  opacity: 1;
}
.popular-menus__modal input::-moz-placeholder {
  color: #232323;
  font: 400 16px/24px "Inter", sans-serif;
  opacity: 1;
}
.popular-menus__modal input:-ms-input-placeholder {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
}
.popular-menus__modal-textarea {
  width: 100%;
  height: 94px;
  resize: none;
  padding: 10px 24px 10px 14px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color: #232323;
  font: 400 16px/24px "Inter", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -moz-appearance: textfield;
  scrollbar-color: rgba(13, 31, 51, 0.2) rgba(13, 31, 51, 0.05);
  scrollbar-width: thin;
}
.popular-menus__modal-textarea::-webkit-scrollbar {
  width: 4px !important;
  height: 4px;
  background-color: #ffffff;
}
.popular-menus__modal-textarea::-webkit-scrollbar-track {
  background-color: rgba(13, 31, 51, 0.05);
  border-radius: 0%;
  -webkit-box-shadow: none;
}
.popular-menus__modal-textarea::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(13, 31, 51, 0.2);
  cursor: pointer;
}
.popular-menus__modal-textarea::-webkit-inner-spin-button, .popular-menus__modal-textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.popular-menus__modal-textarea:focus-visible {
  border: 1px solid #000;
}
.popular-menus__modal-textarea:focus {
  border: 1px solid #000;
}

.select2-container--custom .select2-results__option {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
  cursor: pointer;
}
.select2-container--custom .select2-results__option[aria-selected=true] {
  background: -webkit-gradient(linear, left bottom, left top, from(#F5F5F5), to(#F5F5F5)), -webkit-gradient(linear, left bottom, left top, from(#F5F5F5), to(#F5F5F5)), #F5F5F5;
  background: linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), #F5F5F5;
}
.select2-container--custom .select2-selection__choice {
  padding: 0 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F5F5F5), to(#F5F5F5)), -webkit-gradient(linear, left bottom, left top, from(#F5F5F5), to(#F5F5F5)), #F5F5F5;
  background: linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), #F5F5F5;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 2px;
}
.select2-container--custom .select2-selection__choice .select2-selection__choice__remove {
  font-weight: 600;
}
.select2-container--custom .select2-selection__rendered {
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}
.select2-container--custom .select2-dropdown {
  border: 1px solid #000;
  border-top: none;
  border-radius: 0 0 20px 20px;
}

.select2-container--custom-arrow .select2-dropdown {
  border: 1px solid #000;
  border-top: none;
  border-radius: 0 0 20px 20px;
}
.select2-container--custom-arrow .select2-results__option {
  color: #232323;
  font: 400 16.68px/normal "Poppins", sans-serif;
  cursor: pointer;
}
.select2-container--custom-arrow .select2-results__option[aria-selected=true] {
  background: -webkit-gradient(linear, left bottom, left top, from(#F5F5F5), to(#F5F5F5)), -webkit-gradient(linear, left bottom, left top, from(#F5F5F5), to(#F5F5F5)), #F5F5F5;
  background: linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), #F5F5F5;
}

header {
  height: 50px;
  width: 100%;
  background-color: #DB2032;
}

body {
  margin: 0;
}

.details-menus__h2 {
  color: #000;
  font: 700 28px/normal "Inter", sans-serif;
}
.details-menus__back-link {
  color: #B9BBBF;
  font: 400 16px/normal "Open Sans", sans-serif;
  text-decoration-line: underline;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.details-menus__back-link:hover {
  text-decoration: none;
}
.details-menus__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.details-menus__card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  margin: 60px 0;
}
@media screen and (min-width: 1024px) {
  .details-menus__card-wrap {
    margin-top: 120px;
  }
}
.details-menus__sliders {
  width: 100%;
  max-width: 658px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (min-width: 1024px) {
  .details-menus__sliders {
    width: 55%;
  }
}
@media screen and (min-width: 1440px) {
  .details-menus__sliders {
    width: 100%;
  }
}
.details-menus__slider-full {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.details-menus__slider-full-slide {
  width: 100%;
  height: 100%;
  background-color: #9F9090;
  display: inline-block;
  border-radius: 25px;
  overflow: hidden;
}
.details-menus__slider-full-slide.slick-active {
  opacity: 1;
}
.details-menus__thumbnail-slider {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.details-menus__thumbnail-slider .slick-list {
  width: calc(100% - 128px);
  overflow: hidden;
}
.details-menus__thumbnail-slider-slide {
  display: inline-block;
  width: 100%;
  max-width: calc((100% - 40px) / 3);
  height: 100px;
  margin: 0 10px;
  border-radius: 14px;
  border: 3px solid transparent;
  background: lightgray;
  overflow: hidden;
}
@media screen and (min-width: 540px) {
  .details-menus__thumbnail-slider-slide {
    max-width: calc((100% - 60px) / 4);
  }
}
.details-menus__thumbnail-slider-slide.slick-current {
  border: 3px solid #3A4980;
}
.details-menus__thumbnail-slider .slick-arrow {
  width: 24px;
  height: 24px;
  background: url("/images/slide-arrow.svg") no-repeat center/cover;
  font-size: 0;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.details-menus__thumbnail-slider .slick-arrow:hover {
  border-color: #000;
}
.details-menus__thumbnail-slider .slick-next {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.details-menus__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.details-menus .slick-track {
  width: 100%;
  max-width: 100%;
}
.details-menus__info {
  width: 100%;
  max-width: 660px;
}
@media screen and (min-width: 1024px) {
  .details-menus__info {
    width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  .details-menus__info {
    width: 100%;
  }
}
.details-menus__info-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 28px;
}
.details-menus__info-head .details-menus__h2 {
  max-width: 408px;
}
.details-menus__info-head-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  padding: 7px 10px;
  border-radius: 10px;
  background: #FFF0F0;
}
.details-menus__info-head-btn-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.details-menus__info-head-btn-icon[data-like=false] {
  background: url("/images/like-false.svg");
}
.details-menus__info-head-btn-icon[data-like=true] {
  background: url("/images/like-true.svg");
}
.details-menus__info-head-button {
  display: inline-block;
  padding: 7px;
  border-radius: 10px;
  background: #EDF0F8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.details-menus__info-head-button:hover {
  background: rgba(237, 240, 248, 0.7);
}
.details-menus__info-head-button i {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.details-menus__info-head-button.flag i {
  background: url("/images/flag.svg");
}
.details-menus__info-head-button.share i {
  background: url("/images/share.svg");
}
.details-menus__info-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  gap: 13px;
}
.details-menus__info-body {
  margin-top: 35px;
  padding: 22px 0;
  border-top: 1px solid #E4E4E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
}
.details-menus__info-body-title {
  color: rgba(0, 0, 0, 0.5);
  font: 700 21px/normal "Open Sans", sans-serif;
}
.details-menus__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 19px;
}
.details-menus__info-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px;
}
.details-menus__info-tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 38px 11px 38px;
  border-radius: 53px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F5F5F5), to(#F5F5F5));
  background: linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%);
  color: #000;
  font: 400 24px/normal "Open Sans", sans-serif;
  white-space: nowrap;
}
.details-menus__info-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.details-menus__info-price {
  color: #DB2032;
  font: 700 34px/normal "Inter", sans-serif;
  white-space: nowrap;
}
.details-menus__info-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21px;
  padding: 17px;
  border-radius: 14px;
  border: 1px solid #E4E4E4;
}
.details-menus__info-separator {
  width: 100%;
  height: 1px;
  background: #E4E4E4;
}
.details-menus__info-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  border: none;
  outline: none;
  text-decoration: none;
  color: #1D364D;
  font: 700 17px/normal "Inter", sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.details-menus__info-link:hover {
  color: #DB2032;
}
.details-menus__info-link i {
  display: block;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.details-menus__info-link.edit i {
  background-image: url("/images/bxs_edit.svg");
}
.details-menus__info-link.download i {
  background-image: url("/images/material-symbols_download.svg");
}
.details-menus__info-link.back i {
  background-image: url("/images/pajamas_go-back.svg");
}
.details-menus__text {
  color: #000;
  font: 300 21px/normal "Open Sans", sans-serif;
}
.details-menus__description {
  margin-top: 30px;
}
.details-menus__tab {
  margin-top: 30px;
}
.details-menus__tab-head {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 4px solid #EAECF0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.details-menus__tab-title {
  color: #98A2B3;
  font: 400 20px/normal "Open Sans", sans-serif;
  padding: 0 24px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.details-menus__tab-title:hover {
  color: #DB2032;
}
.details-menus__tab-title.active {
  color: #DB2032;
  pointer-events: none;
}
.details-menus__tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
.details-menus__table {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
}
.details-menus__table-scroll {
  width: 100%;
  overflow: auto;
  scrollbar-color: rgba(13, 31, 51, 0.2) rgba(13, 31, 51, 0.05);
  scrollbar-width: thin;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.details-menus__table-scroll::-webkit-scrollbar {
  width: 4px !important;
  height: 4px;
  background-color: #ffffff;
}
.details-menus__table-scroll::-webkit-scrollbar-track {
  background-color: rgba(13, 31, 51, 0.05);
  border-radius: 0%;
  -webkit-box-shadow: none;
}
.details-menus__table-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(13, 31, 51, 0.2);
  cursor: pointer;
}
.details-menus__table th {
  color: #000;
  font: 600 24px/normal "Open Sans", sans-serif;
  text-align: center;
  padding: 24px;
  border-bottom: 1px solid #DD454E;
  white-space: nowrap;
}
.details-menus__table th:first-child {
  text-align: left;
  padding-left: 0;
}
.details-menus__table th:first-child,
.details-menus__table td:first-child {
  width: 600px;
  min-width: 600px;
}
.details-menus__table tbody tr:first-child td {
  padding-top: 24px;
}
.details-menus__table tbody tr td {
  color: #000;
  font: 600 18px/normal "Open Sans", sans-serif;
  text-align: center;
  padding: 12px 24px;
}
.details-menus__table tbody tr td:first-child {
  text-align: left;
  padding-left: 0;
}
.details-menus__table tfoot tr:first-child td {
  padding-top: 24px;
}
.details-menus__table tfoot tr td {
  color: #000;
  font: 700 18px/normal "Open Sans", sans-serif;
  text-align: center;
  padding: 12px 24px;
}
.details-menus__table tfoot tr td:first-child {
  text-align: left;
  padding-left: 0;
}
.details-menus__table-result {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  gap: 4px;
}
.details-menus__table-result-text {
  padding: 4px 0;
  border-bottom: 1px solid #DB2032;
}
.details-menus__table-result-amount {
  font-weight: 600;
  color: #DB2032;
  padding: 4px 0;
}/*# sourceMappingURL=style.css.map */